.tracks{
  list-style: none;
}


.tracks li{
  background-color: #cbeaf4;
  margin: 8px;
  padding: 0.5rem 0;
  border: 0.5px solid #dddddd;
  border-radius: 4px;
}


.tracks li:nth-child(even){
  background-color: #f2f2f2;
}

.tracks h3{
  line-height: 20px;
  font-style: normal;
}